<body class="game-page">
   <%= link_to 'リザルト画面(テスト)', results_path, class: '.back-to-top-from-game' %>
  <div class="back-to-post-page">
    <%= link_to "Top画面へ", root_path, class: "post-top-button" %>
  </div>

  <div class="game-screen-wrapper">
    <div class="upper-game-container">
      <div class="character-image-box">
        <%= image_tag 'big-h-twins-gals.png', alt: 'スレッドが見つからないキャラクターイメージ', class: "green-dig-man", id: 'green-moguri' %>
        <p>エイチツインズ</p>
      </div>
    </div>

    <div class="lower-game-container">
      <div class="user-options-container">
        <div class="user-options" id="user-options-view">


          <div class="user-hit-point">
            <p><%= current_user.nickname %></p>
            <p>HP: <%= current_user.hp %>/<%= current_user.max_hp %></p>
          </div>

          <div class="right-options-container">
          <div class="upper-options">
            <button class="fight-command">たたかう</p>
            <button class="item-command">アイテム</p>
          </div>

          <div class="lower-options">
            <button class="skill-command" id="user-skill-command">スキル</p>
            <button class="escape-command">にげる</p>
          </div>
          </div>
        </div>

        <div class="message-area"></div>

        <div class="user-skill-list" id="user-skill-view">
          <% @skills.each do |skill| %>
            <p><%= skill.name %></p>
             
            <div class="game-back-button">
              <%= image_tag 'mediumbackbutton.png', width: 80, height: 80 %>
              <p>もどる</p>
            </div>


          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
