<%= form_with model: post, url: post_path(post), local: true, html: { id: 'edit-form' } do |f| %>
  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: 'form-title-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :content, "本文" %>
    <%= f.text_area :content, class: 'form-content-control' %>
  </div>
  
  <div class="custom-file-upload">
    <%= f.file_field :image, accept: "image/*,video/*", style: "display: none;", class: "media-file-post" %>
    <div class="file-upload-image">
    <%= f.label :image do %>
      <%= image_tag "camera.png", alt: "Upload Image", class: "custom-upload-button" %>
    <% end %>
    </div>

  <div class="form-button">
    <%= f.submit '編集する', class: 'post-button-complete' %>
  </div>
  </div>

<% end %>
