<body class="index-body">
<%= render "shared/header" %>

<div id="posts-list">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-title-box">
        <h2> <%= link_to "#{post.title}", post_path(post.id) , class: 'post-title-link' %> </h2>
      </div>
      <% if post.content.present? %>
      <div class="post-contents-media">
        <div class="post-content-box">
          <p><%= truncate(post.content, length: 200, omission: ' (続く...)') %></p>
        </div>
      <% end %>
      <% if post.image.attached? %>
      <div class="post-media-box">
        <%= image_tag post.image.variant(resize: '320x320').processed, class: 'post-media' %>
      </div>
      <% end %>
      </div>
      <div class="poster">
          <%= "by #{post.user.nickname}" %>
        </div>
    </div>
  <% end %>
</div>



<!-- モーダルウィンドウ -->
<div id="post-form-modal" style="display: none;">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <!-- 部分テンプレートを使ってフォームを表示 -->
    <%= render 'form', post: @post %>
  </div>
</div>

</body>
